* {
  margin: 0;
  padding: 0;
}

input {
  border-top: none;
  border-left: none;
  border-right: none;
  background: none;
  &::placeholder {
    color: #fff;
  }
}

button {
  appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  border-radius: 0;
  outline: none;
  cursor: pointer;
  margin: 1em;
  width: 5em;
  height: 1.5em;
  background: white;
  border-radius: 1em;
  border-style: none;
  color: #686de0;
  font-size: 1.25em;
  font-family: "Proxima Nova Rg", sans-serif;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    letter-spacing: 1px;
    background: #686de0;
    color: white;
  }
}

.cyp {
  font-family: "Proxima Nova Rg", sans-serif;
  text-align: center;
  color: white;
  font-size: 30px;
  margin-bottom: 30px;
  border-bottom: 3px solid #27272b;
  border-width: thin;
  margin-left: 585px;
  margin-right: 585px;
}

.head {
  color: #fff;
  padding-bottom: 30px;
  padding-left: 15px;
  margin: 0px;
  font-family: "Proxima Nova Rg", sans-serif;
}
.navb {
  background-color: #27272b;
  padding-top: 10px;
}
.tk {
  color: orange;
}

.userStats {
  padding-top: 40px;
  background-color: #686de0;
  padding-bottom: 355px;
}

.foot {
  background-color: #27272b;
  color: white;
  font-family: "Proxima Nova Rg", sans-serif;
  font-size: 10px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 15px;
}

.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  input {
    margin: 0.8em;
    min-width: 300px;
  }
}

.name {
  color: white;
  font-family: "Proxima Nova Rg", sans-serif;
  margin-top: 50px;
  margin-left: 700px;
}

.profilePic {
  max-height: 350px;
  max-width: 350px;
  margin-top: 50px;
  margin-left: 590px;
}
