.head {
  color: #fff;
  padding-bottom: 30px;
  padding-left: 15px;
}
.navb {
  background-color: #27272b;
  padding-top: 10px;
}
.tk {
  color: orange;
}
html,
body {
  margin: 0px;
  padding: 0px;
}
.userStats {
  padding-top: 40px;
  background-color: #686de0;
}
