* {
  margin: 0;
  padding: 0;
}

input {
  border-top: none;
  border-left: none;
  border-right: none;
  border: none;
  padding: 10px;
  padding-left: 16px;
  border-radius: 20px;
  background: #fff;
  font-family: "Proxima Nova Rg", sans-serif;
  font-size: 18px;
  &::placeholder {
    color: #000000;
  }
}

button {
  appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  border-radius: 0;
  outline: none;
  cursor: pointer;
  margin: 1em;
  width: 5em;
  height: 1.5em;
  background: white;
  border-radius: 1em;
  border-style: none;
  color: #686de0;
  font-size: 1.25em;
  font-family: "Proxima Nova Rg", sans-serif;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    letter-spacing: 1px;
    background: #686de0;
    color: white;
  }
}

.cyp {
  font-family: "Proxima Nova Rg", sans-serif;
  text-align: center;
  color: white;
  font-size: 30px;
  margin-bottom: 30px;
  border-bottom: 3px solid #27272b;
  border-width: thin;
  border: none;
  margin-left: 585px;
  margin-right: 585px;
}

.head {
  color: #fff;
  font-family: "Proxima Nova Rg", sans-serif;
}
.navb {
  height: 70px;
  padding-top: 20px;
  padding-left: 20px;
  background-color: #27272b;
}
.tk {
  color: orange;
}

.userStats {
  padding-top: 40px;
  background-color: #303035;
  padding-bottom: 355px;
}

.foot {
  background-color: #27272b;
  color: white;
  font-family: "Proxima Nova Rg", sans-serif;
  font-size: 10px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 15px;
}

.display {
  display: flex;
  flex-direction: column;
}

.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  input {
    margin: 0.8em;
    min-width: 300px;
  }
}

.name {
  color: white;
  font-family: "Proxima Nova Rg", sans-serif;
  margin-top: 50px;
  //margin-left: 700px;
  text-align: center;
}
.image-upload > input {
  display: none;
}
label[for="file-input"] > img {
  cursor: pointer;
  height: 250px;
  width: 250px;
  border-radius: 50%;
}
.profilePic {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-top: 50px;
  align-self: center;
}

#preview-img {
  max-height: 350px;
  max-width: 350px;
}
